<div class="container">
  <h1>Welcome to this humble ANIMAL SHELTER</h1><br>
  <form method="get" action="/animals">
  <div style="text-align:center">
    <button class="btn btn-lg btn-danger" type="submit">Enter the <span class="glyphicon glyphicon-piggy-bank"></span> <span class="glyphicon glyphicon-home"></span></button></span>
  </div>
</form>
</div>
